<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--setter注入 多例方式-->
	<!--<bean id="a" class="com.wsh.circularreference_setter.A" scope="prototype">
		<property name="b" ref="b"/>
	</bean>

	<bean id="b" class="com.wsh.circularreference_setter.B" scope="prototype">
		<property name="a" ref="a"/>
	</bean>-->

	<!--setter注入 单例方式-->
	<bean id="a" class="com.wsh.circularreference_setter.A" scope="singleton">
		<property name="b" ref="b"/>
	</bean>

	<bean id="b" class="com.wsh.circularreference_setter.B" scope="singleton">
		<property name="a" ref="a"/>
	</bean>

</beans>